<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - Contacts</title>
    <script>
        function postData() {
            let url = "http://127.0.0.1:5000/all_contact"
            const id = document.getElementById('id')
            const name = document.getElementById('name')
            const phone = document.getElementById('phone')
            const idEnvio = Math.random()
            const contact = { "id":idEnvio, "name": name.value, "phone": phone.value }
            const result = document.getElementById('result')
            name.value = ""
            phone.value = ""
            console.log(contact)
            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(contact)
            })

                .then(response => response.json())
                .then(json => {
                    console.log(json)
                    result.innerHTML = "<p>Name: "+json.name+"</p>"+"<p>Phone: "+json.phone+"</p>"
                })
                .catch(error => console.error(error))
        }

        // function postSearch(){
        //     let url = "/contacts/<str:'name'>"
        //     const find = document.getElementById('find')
        //     const search = { "name": find.value }
        //     const resultSearch = document.getElementById('result')
        //     find.value = ""
        //     fetch(url, {''
        //         method: "GET",
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify(contact)
        //     })

        //         .then(response => response.json())
        //         .then(json => {
        //             console.log(json)
        //             result.innerHTML = "<p>Name: "+json.name+"</p>"+"<p>Phone: "+json.phone+"</p>"
        //         })
        //         .catch(error => console.error(error))
        // }
    </script>
</head>

<body>
    <h1>CRUD - Contacts</h1>

    <h2>Find contact</h2>
    <label for="find">Find contact</label>
    <input type="text" id="find">
    <br />

    <button onclick="postSearch()">Search</button>

    <div id="resultSearch"></div>

    <h2>Add contact</h2>
    <label for="name">Enter the name</label>
    <input type="text" id="name">
    <br />

    <label for="phone">Enter the phone number</label>
    <input type="text" id="phone">
    <br />

    <button onclick="postData()">Submit</button>

    <h2>Contact list</h2>

    <div id="result"></div>

</body>

</html>